aicsimageio==4.14.0
aiobotocore==2.5.4
aiohappyeyeballs==2.6.1
aiohttp==3.12.15
streamlit>=1.32
numpy>=1.24
scipy>=1.11
pandas>=2.0
scikit-image>=0.22
skan>=0.13
tifffile>=2023.2
altair>=5.0
cellpose>=3.0
napari>=0.6
beautifulsoup4==4.13.5
